{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                 <h3>Data schemas</h3>
            </div>
            <div class="col-2">
                <a href="{% url 'create-schema' %}" class="btn btn-success w-100">New schema</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {% if len_user_schemas != 0 %}
                    <table class="table table-bordered mt-5">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                         {% for i in user_schemas %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'create-datasets' schema_id=i.id %}">{{ i.title }}</a></td>
                                <td>{{ i.updated|date:"Y-m-d"  }}</td>
                                <td>
                                    <div>
                                      <a  href="{% url 'edit-schema' schema_id=i.id %}" style="text-decoration: none;">Edit scheme</a>
                                      <a style="text-decoration: none;color: red; margin-left: 10px"
                                         href="{% url 'delete-schema'  schema_id=i.id %}">Delete</a>
                                    </div>
                                </td>
                               </tr>
                         {% endfor %}
                </table>
            {% else %}
                <div class="row justify-content-center mt-5">No created schemas</div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
