{% extends 'base.html' %}


{% block content %}
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <form method="post" id="schema-field-form"> {% csrf_token %}
        <div class="row">
            <h4>Edit Schema</h4>
        </div>
        <div class="row">
            <div class="col-5 mt-3 form-group">
                <div>{{ schema_form.schema_title.label }}</div>
                <div class="full-input mt-2">{{ schema_form.schema_title }}</div>
            </div>
            <div class="col-5"></div>
            <div class="col-1"><input type="submit" class="btn btn-primary" value="Submit"></div>
        </div>

        <div class="row mt-4">
            <h4>Schema columns</h4>
        </div>
        <div class="row">
            <div class="col-12 mt-3 form-group" id="schema-fields-div">
                <div class="row mt-3 field-type-row">
                    {% for field in form %}
                    <div class="col-2">
                        <div>{{ field.label }}</div>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                    <div class="col-1 text-center">
                       <button class="deletebtn" type="button">Delete</button>
                    </div>
                </div>
            </div>

        </div>
        </form>
    <div><button class="btn btn-primary mt-3 appendbtn">Add column</button></div>

    </div>


{% endblock content %}
