html, body {
    height:100%;
    margin:0;
    padding:0;
}

.container-table {
    display: table;
    width: 100%;
    height:100%;
}
.vertical-center-row {
    display: table-cell;
}

.login-error{
    color: red;
}

.login-form-header{
    height: 50px;
    padding: 5px;
}

.login-btn{
    background-color: darkseagreen;
}



.full-input input{
    width: 100%;
}


.deletebtn{
    background: none;
    border: none;
    color: red;
    position: relative;
    top: 30px;
}

.rows-form{
    width: 70px;
}