html, body {
    height:100%;
    margin:0;
    padding:0;
}

.container-table {
    display: table;
    width: 100%;
    height:100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.login-error{
    color: red;
}

.login-form-header{
    height: 50px;
    padding: 5px;
}

.login-btn{
    background-color: darkseagreen;
}


.index-nav-link {
    padding: 10px;
    background-color: #d8f4ff;
    width: 200px;
    margin: 1px;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.index-nav-link:hover {
   color: #353535;
}

.datasets-table{
    margin-top: 60px;
}

.disabled-link {
  pointer-events: none;
  background-color: gray;
}

label{
    margin: 5px;
}

.add-field-btn{
    margin: 10px 1px;
}

.appendbtn{
    border: none;
    background-color: lightsteelblue;
}

.deletebtn{
    border: none;
    background-color: lightcoral;
    margin-left: 5px;
    border-radius: 5px;
}
